* {
  /* outline: 1px solid red; */
}
body {
  background-image: url(./img/bg-body.jpg);
  min-width: 370px;
}
.container_modify {
  background-color: #356618;
  padding: 0;
}

/* header */
header {
  background: #fff;
}
header .logo_box {
  text-align: center;
}
header h1 {
  display: inline-block;
  margin: 0;
  padding: 1rem;
  max-width: 80%;
}
.navbar_modify {
  padding: 0;
  border-bottom: 1px solid #fff;
}
.navbar_modify .navbar-nav .nav-link {
  background: #4b4b4b;
  flex: 1;
  padding: 1rem 0;
  color: rgb(129, 167, 129);
}
.navbar_nav_modify {
  flex-basis: 100%;
  text-align: center;
}
.navbar_modify .navbar-nav .nav-link:hover {
  background-color: #d9eacf;
  color: black;
}
.navbar_modify .navbar-nav .nav-link.active {
  background: #91a784;
  color: green;
}
.navbar_modify .navbar-nav .nav-link.active:hover {
  background-color: #d9eacf;
  color: black;
}
/* 幻燈片 carousel */
.carousel .a_modify {
  padding: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.5);
}
.carousel .a_modify h2 {
  color: #dbdf92;
}
.carousel .a_modify:hover {
  color: rgb(79, 203, 44);
}
.slide_card_picture {
  min-width: 30%;
  border: 1px solid #fff;
}
.slide_card {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 1rem;
}
.card3_modify + .card3_modify {
  border-left: 2px solid #3d751a;
}
@media (max-width: 992px) {
  .card3_modify + .card3_modify {
    border: none;
  }
}
.slide_card h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #dbdf92;
}
.slide_card p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.carousel i {
  color: #fff;
  padding: 2px;
  border-radius: 50%;
  background-color: #798f92;
}
.slide_card_content {
  padding-left: 1rem;
}
/* 中間白色區域 */
.main_area {
  background-color: #fff;
  padding: 1rem;
}
.featured_gardens h2 {
  color: #733d1c;
  background-color: #dce8d4;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 25px;
  border-bottom: 2px solid #acc799;
}
.featured_gardens h3 {
  color: #733d1c;
  font-size: 15px;
  padding: 1rem 0;
  margin: 0;
}
.featured_gardens p {
  font-size: 12px;
  margin: 0;
}
.tips_gardens h2 {
  color: #733d1c;
  background-color: #dce8d4;
  padding: 0.5rem;
  margin: 0;
  font-size: 25px;
  border-bottom: 2px solid #acc799;
}
li {
  font-size: 12px;
  color: #606060;
}
li + li {
  margin-top: 1rem;
}
ol {
  padding: 1rem 0 0 1rem;
  margin: 0;
}

/* footer */

footer {
  background-color: #dce8d4;
  border-top: 3px solid #c9dabc;
}
.copyright {
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  background-color: #356618;
}
.place_holder {
  color: #8a8b8b;
  border-right: 3px solid #c9dabc;
  padding: 0 0.5rem;
}
.place_holder button {
  border: none;
  background-color: transparent;
  color: gray;
}
@media (min-width: 576px) {
  .place_holder button {
    display: none;
  }
  .place_holder p.collapse:not(.show) {
    display: block;
  }
}
footer h3 {
  font-size: 20px;
  color: #828283;
  margin: 0.5rem 0;
}
footer p {
  font-size: 13px;
  margin: 0;
}
.footer_content {
  padding: 0 0.5rem;
}
.media_modify {
  color: #828283;
  display: block;
}
.footer_content a {
  text-decoration: none;
}
footer i {
  padding: 0 1rem 0 0;
  vertical-align: middle;
  color: #798e91;
  font-size: 20px;
}
ul {
  padding: 0;
}

/* md  */
@media (max-width: 768px) {
  .a_modify p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .slide_card {
    padding-bottom: 1rem;
    justify-content: center;
  }
}
/* sm  */
@media (max-width: 576px) {
  footer .place_holder {
    text-align: center;
  }
  .footer_content {
    text-align: center;
  }
  .footer_content a {
    display: inline-block;
  }
  .footer_content span {
    display: none;
  }
}
